@import 'variables.scss';
@import 'callouts.scss';

body {
  background: $bg_color;
  color: $black;
}

// override bootstrap
h1 {
  font-size: calc(129% + 0.6vw);
}

h2 {
  font-size: calc(110% + 0.6vw);
}

.container {
  max-width: 77rem;
}

.example {
  margin-top: 14px;
}
